#boxes{
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
}
#mainHead{
  text-align: center;
  text-shadow: 5px 5px 5px cyan;
}
.btn{
  width: 300px;
  height: 50px;
  border: 3px solid;
  border-radius: 25px;
  background: rgb(187, 241, 255);
  margin: 30px 100px 30px 200px;
}
.btn:hover{
  background: rgb(86, 208, 238);
  cursor: pointer;
}
#class,#func{
  width: 500px;
  height: 250px;
  border: 3px solid;
  border-radius: 30px;
  text-align: center;
  margin-top: 60px;
}
#func{
  grid-column: 1/2;
  background: cyan;
}
#class{
  grid-column: 2/3;
  background: rgb(247, 81, 197);
}
